.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.dark-background {
  background-color:darkgoldenrod;
  color: whitesmoke;
}

.highlight-paragraph {
  background-color: yellow;
  border: solid grey;
  border-width: 5px;
}